/*html {
  --variables-colores: --variables-font;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}*/

ul {
  background-color: rebeccapurple;
  list-style: none;
  padding: 1rem 0;
  display: flex;
}

li {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  background: gold;
  text-align: center;
  color: chocolate;
  font-weight: bold;
}
