* {
  margin: 0;
  padding: 0;
}

html {
  --colorBlue: #00a2ff;
  --colorGrey: rgb(199, 199, 199);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--colorBlue);
  display: flex;
  justify-content: center;
}
body > main {
  width: 500px;
  background-color: azure;
  height: 100vh;
  display: grid;
  padding: 1rem;
  gap: 0.5rem;
  grid-template-rows: 40px 50px 1fr;
}

body > main section.sendTwit {
  display: grid;
  grid-template-columns: 1fr auto;
}

body > main h1 {
  color: var(--colorBlue);
}

body > main section.sendTwit input {
  border: 1px var(--colorGrey) solid;
  padding: 0.5rem;
}

body > main section.sendTwit button {
  padding: 1rem;
  border: 0;
  background-color: var(--colorBlue);
  color: white;
  font-weight: 500;
}

main section.allTwits article {
  padding: 0.5rem;
  border-bottom: 1px solid var(--colorGrey);
  position: relative;
}

main section.allTwits article p {
  padding: 0.5rem 0;
}

.deletebutton {
  padding: 0.5rem;
  border: 0;
  background-color: var(--colorGrey);
  color: black;
  font-weight: 500;
  margin-top: 1rem;
  position: absolute;
  right: 0rem;
  bottom: 0.5rem;
}
